*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  font-family: 'Noto Sans', sans-serif;
}

.container{
  width: 80%;
  margin: 0 auto;
}

/* HEADER */

header{
  /* height: 400px; */
  /* background-color: red; */
}

nav{
  background-color: #0c325a;
  padding: 10px 0;
}

nav ul{
  display: inline-block;
  vertical-align: middle;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 8px;
  text-transform: uppercase;
  padding: 0 5px;
}

.logo{
  vertical-align: middle;
  float: left;
}

.logo img{
  height: 30px;
}

.ul-right{
  text-align: right;
  float: left;
  vertical-align: middle;
  padding-top: 5px;
}

.ul-left{
  float: left;
  vertical-align: middle;
  padding-top: 5px;
}

.button{
  border-radius: 5px;
  margin-right: 10px;
}

#first-button{
  padding: 4px 16px;
  border: 2px solid white;
}

#second-button{
  padding: 4px 5px;
}

#jumbo{
  height: 250px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.img-jumbo{
  position: relative;
  height: 300px;
  background-color: #0c325a;
}

h1{
  color: white;
  font-size: 40px;
}

/* HEADER */

/* UTILITY */

.bg-green{
  background-color: #7cbb02;
  border: 2px solid #7cbb02;
}

.col-13{
  width: 13%;

}

.col-40{
  width: calc(87% / 2) ;
}


.row:after{
  content: '';
  display: table;
  clear: both;
}
