/* AZZERAMENTO E REGOLE GENERALI PAGINA */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  font-family: 'Roboto', sans-serif;
}

.bg-grey{
  background-color: #d3d3d3;
}
/* AZZERAMENTO E REGOLE GENERALI PAGINA */

/* HEADER */
header{
    background-color: #0c325a;
}

nav{
  padding: 10px 0;
}

nav ul{
  display: inline-block;
  vertical-align: middle;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a{
  font-size: 11px;
  padding: 0 5px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.logo{
  vertical-align: middle;
}

.logo img{
  height: 30px;
}

.ul-right{
  text-align: right;
  vertical-align: middle;
  padding-top: 5px;
}

.ul-left{
  vertical-align: middle;
  padding-top: 5px;
  padding-left: 20px;
}

.bg-jumbo{
  background-image: url("../img/background-header.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 116% 100%;
}

header h1{
  color: white;
  font-size: 47px;
  margin-bottom: 30px;
  }

.header-text{
  padding: 150px 0;
}
/* HEADER */

/* CLASSI UTILITY PER LAYOUT */
.container{
  width: 80%;
  margin: 0 auto;
}

.col-13{
  width: 13%;
}

.col-40{
  width: calc(87% / 2) ;
}

.col-50{
  width: 50%;
}
.col-100{
  width: 100%;
  text-align: center;
}

.col-33{
  width: calc(100% / 3);
}
/* CLASSI UTILITY PER LAYOUT */

/* CLASSI E ID PER BUTTON E BACKGROUND*/
.button{
  border-radius: 5px;
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#first-button{
  padding: 4px 16px;
  border: 2px solid white;
}

#second-button{
  padding: 4px 5px;
}

.btn-big{
  padding: 17px 17px;
  font-size: 14px;
}

.bg-green{
  background-color: #7cbb02;
  border: 2px solid #7cbb02;
}
/* UTILITY PER  BUTTON E BACKGROUND*/

/* CLEARFIX  E FLOAT LEFT COLONNE*/
.row:after{
  content: '';
  display: table;
  clear: both;
}

[class*="col-"]{
  float: left;
}
/* CLEARFIX  E FLOAT LEFT COLONNE*/

/*PRIMA SEZIONE*/
.first-section-text{
  padding: 30px 0;
  line-height: 27px;
}

.first-section-text h3{
  font-size: 18px;
}

.first-section-text p{
  color: #808080;
  font-size: 13px;
}
/*PRIMA SEZIONE*/

/*SECONDA SEZIONE*/
.second-section{
  background-color: #ffffff;
}

.second-section .col-33{
  text-align: center;
  padding: 22px;
}

.second-section img{
  height: 104px;
}

.second-section h3{
  color: #7cbb02;
  font-size: 23px;
}

.second-section hr{
  width: 20%;
  margin: 10px auto;
}

.second-section p{
  font-size: 15px;
  color: #808080;
}

.p-10{
  padding: 10px 0;
}

.pt-40{
  padding-top: 40px;
}

.pb-40{
  padding-bottom: 40px;
}


/*SECONDA SEZIONE*/

/* TERZA SEZIONE */
.third-section{
  background-color: #ffffff;
}

.third-section img{
  height: 380px;
}

.third-section [class*="col-"]{
  padding-left: 55px;
}

.text-third-section{
  padding-left: 18px;
}

.third-section h2{
  font-size: 27px;
  line-height: 34px;
}

.third-section p{
  font-size: 15px;
  color: #808080;
}

.third-section p a{
  font-size: 13px;
  color: #5586bc;
}
/* TERZA SEZIONE */

/* FOOTER */

footer{
  padding: 60px 0;
}

footer h2{
  font-size: 27px;
}

footer p{
  display: inline-block;
  color: #808080;

}

#sono{
  padding-right: 28px;
}

#seleziona{
  border-bottom: 1px solid #808080;
  padding-right: 50px;
}

#seleziona:after{
  content: '\25be';
}

.button-footer{
  padding-left: 30px;
}
/* FOOTER */

#help-button{
  position: fixed;
  bottom: 0;
  right: 252px;
  z-index: 1;
}
